#Chat{
   border:2px solid black;
   position:relative;
   margin-left:auto;
   margin-right:auto;
   overflow-y:auto;
   height:70%;
   width:98%;
   background-color:white;
   color:black;
   padding-left:2px;
   padding-top:2px;

}
.Conteiner{
   position:absolute;
   width:100%;
   height:100%
}
body{
    background-image:url('/Sources/Images/cvetochki-tekstura.jpg');
    width:100%;
    height:100%;
}
html{
    width:100%;
    height:100%;
}
input{
    position:relative;
    margin-left:11px;
    margin-top:10px;
    height:20px;
    width:85%;
}
button{
    margin-left: 38px;
    width:10%;
    color:black;
    background-color:lightpink;
    border-bottom-color:hotpink;
}